<footer>
  <div id="footer-links">
    <address>
      <p>Ruppert Agence Web</p>
      <p>Adresse: 2 route de sturzelbronn
      67110, Dambach Neunhoffen, Alsace, France</p>
      Tel: +33 6 71 03 77 53
    </address>
  </div>
</footer>
