<div class="Navbar">
   <div class="Navbar__Link Navbar__Link-brand">
      <%= link_to "Ruppert", "index.html" %>
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
  <nav class="Navbar__Items">
    <div class="Navbar__Link">
      <%= link_to "Site internet", "creation-site-internet.html" %>
    </div>
    <div class="Navbar__Link">
      Rerencement
    </div>
    <div class="Navbar__Link">
      Reseaux sociaux
    </div>
    <div class="Navbar__Link">
      Strategie
    </div>
    <div class="Navbar__Link">
      Analyse
    </div>
  </nav>
  <nav class="Navbar__Items Navbar__Items--right">
    <div class="Navbar__Link">
      Contact
    </div>
  </nav>
</div>
