.Navbar {
  /* background-color: #46ACC2; */
  background-color: white;
  display: flex;
  padding: 16px;
  font-family: 'Varela Round', sans-serif;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    color: black;
    padding: 0px 10px;
    font-size: 18px;
  }
}
.Navbar__Link {
  padding-right: 8px;
}
.Navbar__Items {
  display: flex;
}
.Navbar__Items--right {
  margin-left:auto;
}
.Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left:0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    color: black;
   }
}
