#prestations {
  margin: auto;
  h2 {
    font-size: 1.5em;
    text-align: center;
    color: black;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
.presta {
  margin: auto;
  min-height: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  border-radius: 3px;
  h3 {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: $pink;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
  }
  p { padding: 0px 20px; }
  &:hover {
  }
}
