#prestations {
  margin: auto;
  h2 {
    font-size: 1.5em;
    text-align: center;
    color: black;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
.presta {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  border-radius: 3px;
  height: auto;
  h3 {
    font-size: 1.2em;
    height: 2em;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: $pink;
    height: auto;
    line-height: auto;
    font-weight: bold;
  }
  p {
    padding: 0px 40px;
  }
  &:hover {
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    a {
      text-align: center;
      padding: 0px 15px;
      border-radius: 3px;
      margin: auto;
      height: 35px;
      line-height: 35px;
      background-color: white;
      border: solid 1px $pink;
      color: $pink;
      &:hover {
        border: solid 1px $pink;
        background-color: $pink;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media all and (max-device-width: 480px)
{
  .presta {
    h3 {
      line-height: 1.3em;
    }
    p {
      padding: 0px 10px;
    }
    a {
      width: auto;
      font-size: 0.8em;
    }
  }
}
