html {font-size: 100%;}
body { min-height: 100vh; }
h1 { font-size: 2em; margin-top: 80px; text-align: center; }
h2 { font-size: 1.5em; background-color: white; padding: 5px; text-align: center; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
a {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 16px;
}
.citation {
  width: 45%;
  font-size: 1.3em;
  font-style: italic;
  font-family: 'K2D', sans-serif;
  &.right {
    float: right;
    margin: 0px 0px 0px 15px;
  }
  &.left {
    float: left;
  }
}
#home, #site, #seo, #sem {
  width: 60%;
  margin: auto;
  color: black;
  min-height: 100vh;
}
@media all and (max-device-width: 480px)
{
  #home, #site, #seo, #sem, #contact {
    width: 90%;
    margin: auto;
    .citation {
      float: none;
      width: 100%;
      &.right, &.left {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
