<form accept-charset="UTF-8" action="https://formkeep.com/f/2af0a90680f2" method="POST", id="form-contact">
  <input type="hidden" name="utf8" value="✓">

  <label for="email-address">Email Address</label>
  <input type="email" id="email-address" name="email">

  <button type="submit">Submit</button>
</form>
