<h1>Le référencement naturel</h1>
<h2>Qu’est-ce que le référencement naturel ?</h2>
<p>Le référencement naturel ou SEO pour Search Engine Optimization, est le travail des positions des pages d’un site dans les moteurs de recherche tel que Google en fonction des requêtes que formulent les internautes</p>
<p>Le référencement naturel à l’inverse du référencement payant sont les liens qui ne sont pas sponsorisés.
Ils se retrouvent ainsi sous les liens publicitaires et leurs positions évoluent constamment en fonction du travail effectué sur les différents sites.</p>
<p>Le travail d’optimisation est long et regroupe plus de 200 critères que Google et les autres moteurs de recherche privilégient plus ou moins. Le travail de référencement naturel peut être scindé en trois parties qui regroupent les 200 critères de référencement, à savoir la technique, le contenu et la notoriété du site.</p>


<a href="">référencement naturel et SEO</a>
<a href="">référencement payant et SEA</a>
<a href="">référencement local</a>
